@import './base.css';

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar-top {
    padding-bottom: 0;
    /* width: 100vh; */
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-side {
    /* box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.35); */
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
    /* background-color: rgba(0, 0, 0, 1) !important; */
}

.navbar-nav>.nav-item>span {
    font-weight: 200;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.navbar-nav>.nav-item:hover>span {
    color: #a7a7a7;
}

.action-prompt {
    border-radius: 12px;
    height: 80vh;
    padding: 20px;
    color: black;
    background-color: #f3f3f3 !important;
    box-shadow: 0px 0px 50px 12px black;
}

.action-prompt .btn {
    background-color:#d8956a !important;
    /* color: #5e5e5e !important; */
    border: 0;
    color: #fff !important;
}
.action-prompt .btn:hover {
    background-color: black !important;
    /* color: #d8956a !important; */
}